/** Configuracoes gerais da pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  caret-color: transparent;
}

:root {
  --cor_primaria: #171a21;
  --cor_secundaria: #0457aa;
  --cor_terciaria: #7c8ea3;
  --cor_destaque: #1e87f0;
}

.container-fluid {
  padding: 0;
}

/** Menu de navegacao */
header {
  height: 60px;
  background: var(--cor_primaria);
}

.logo {
  margin-top: 9px;
  width: 150px;
}

.menu_horizontal {
  float: right;
  line-height: 60px;
  margin-right: 50px;
}

.menu_horizontal li {
  display: inline-block;
  margin-right: 25px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.menu_horizontal li a {
  color: white;
  padding: 7px;
  background: linear-gradient(
      to right,
      var(--cor_primaria),
      var(--cor_destaque)
    ),
    linear-gradient(
      to right,
      var(--cor_destaque),
      var(--cor_destaque),
      rgba(255, 0, 180, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.menu_horizontal li a:hover {
  color: white;
  background-size: 0 3px, 100% 3px;
}

.menu_horizontal li a:active {
  color: var(--cor_destaque);
  background-size: 0 3px, 100% 3px;
}

#barra_pesquisa,
#btn_barraPesquisa2 {
  height: 30px;
  font-size: 0.8em;
}

#btn_barraPesquisa {
  position: relative;
  top: 7px;
  width: 30px;
  height: 30px;
  background: var(--cor_secundaria);
  border: 1px solid var(--cor_primaria);
  border-radius: 50%;
}
#btn_barraPesquisa:hover {
  background-color: greenyellow;
  /* transition: 10000ms; */
}

#btn_barraPesquisa:active {
  background-color: rgb(111, 168, 24);
}

/* Alteracao do menu de navegacao para mobile - de lista > icones */
#check {
  display: none;
}

.checkbtn {
  margin-right: 20px;
  font-size: 1.5em;
  color: white;
  float: right;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* Icones de light e dark mode */
#icon {
  width: 20px;
  cursor: pointer;
}

/** Conteudo principal da pagina */
main {
  background: var(--cor_primaria);
  background: linear-gradient(
    180deg,
    var(--cor_primaria) 35%,
    var(--cor_secundaria) 100%,
    var(--cor_secundaria) 100%
  );
}
/* ---------------------------------------- */
/* Carrossel */
/* ---------------------------------------- */
#carrossel {
  background: linear-gradient(
    90deg,
    var(--cor_primaria) 35%,
    var(--cor_secundaria) 100%,
    var(--cor_secundaria) 100%
  );
  border-block-start: 4px solid;
  border-block-end: 4px solid;
  border-image-source: linear-gradient(45deg, var(--cor_destaque), purple);
  border-image-slice: 1;
  padding: 20px;
}

.video_carrossel {
  width: 90%;
  height: 450px;
}

.titulo_carrossel {
  font-weight: bold !important;
  color: white;
}

#carrossel p {
  font-size: 19px;
  color: white;
}

#carrossel p b {
  font-weight: bold;
}
/* ---------------------------------------- */
/* Área de recomendações */
/* ---------------------------------------- */
.titulo_sessao {
  /* Essa classe funciona para todos os titulos H3 das sessoes */
  color: white;
  text-align: center;
  padding: 5px;
}

#areaCard_recomendacoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_recomendacao {
  width: 300px;
  margin: 10px;
  border-radius: 1%;
  text-align: center;
}

.card_recomendacao:hover {
  position: relative;
  top: -10px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 400ms;
}

.card_recomendacao:hover > h4 {
  color: rgba(255, 0, 180, 1);
  transition: 400ms;
}

.card_recomendacao h4 {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--cor_destaque);
}

.card_recomendacao h5 {
  font-size: 1em;
  color: greenyellow;
}

.card_recomendacao p a {
  color: var(--cor_terciaria);
  font-weight: bold;
  padding: 3px;
}

.card_recomendacao p a:hover {
  background: var(--cor_secundaria);
  color: white;
  border-radius: 4%;
  transition: all 600ms;
}

.card_recomendacao img {
  width: 100%;
  height: 200px;
  border-radius: 1%;
  margin-bottom: 10px;
}

/* Este botao funciona para todas as áreas (recomendações, plataformas e desenvolvedoras) */
.botao_carregar {
  background: var(--cor_primaria);
  border: none;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}
/* ---------------------------------------- */
/* Área de plataformas */
/* ---------------------------------------- */
#areaCard_plataformas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_plataforma {
  background: var(--cor_primaria);
  border-radius: 1%;
  padding-top: 10px;
  width: 500px;
  margin: 10px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.card_plataforma:hover > img {
  border-block-start: 4px solid;
  border-block-end: 4px solid;
  border-image-source: linear-gradient(45deg, greenyellow, purple);
  border-image-slice: 1;
  transform: scale(0.95);
  transition: all 0.5s;
}

.card_plataforma img {
  width: 95%;
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 1%;
}

.card_plataforma h4 {
  text-align: center;
  margin: 10px 0;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* ---------------------------------------- */
/* Área de desenvolvedoras */
/* ---------------------------------------- */
#areaCard_desenvolvedoras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card_desenvolvedora {
  margin: 80px;
  padding: 10px;
  width: 200px;
  border-radius: 1%;
  background: linear-gradient(90deg, #0457aa 0%, rgb(94, 1, 94) 80%);
  background: -webkit-linear-gradient(90deg, #0457aa 0%, rgb(94, 1, 94) 80%);
  background: -moz-linear-gradient(90deg, #0457aa 0%, rgb(94, 1, 94) 80%);
  color: white;
}

.card_desenvolvedora:hover {
  transform: rotate(6deg) scale(1.1) skew(1deg) translate(1px, 0px);
  -webkit-transform: rotate(6deg) scale(1.1) skew(1deg) translate(1px, 0px);
  -moz-transform: rotate(6deg) scale(1.1) skew(1deg) translate(1px, 0px);
  transition: all 500ms;
}

.card_desenvolvedora h4 {
  text-align: center;
  font-size: 1em;
}

.card_desenvolvedora img {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 100px;
  border-radius: 1%;
}

/* ---------------------------------------- */
/* Área de redação */
/* ---------------------------------------- */
#area_redacao {
  display: flex;
  text-align: justify;
  padding-bottom: 10px;
  color: white;
  margin: 0 10px;
}

#texto_editorial img {
  width: 100px;
}

/** Rodape  */
footer {
  background: var(--cor_primaria);
  text-align: center;
}

#texto_rodape {
  margin-top: 10px;
  color: white;
}

#texto_rodape img {
  width: 200px;
  margin-bottom: 10px;
}

/*! Configuracoes de responsividade */
@media screen and (max-width: 480px) {
  /** Menu de navegacao */
  * {
    overflow-x: hidden;
  }

  header {
    border-radius: 0;
    margin-top: 0;
    position: fixed;
    z-index: 11;
  }

  .checkbtn {
    display: block;
    position: absolute;
    top: 17px;
    right: 10px;
  }

  #check:checked ~ .menu_horizontal {
    left: 0;
  }

  #check:checked ~ .checkbtn i:first-child {
    display: none;
  }

  #check:checked ~ .checkbtn i:nth-child(2) {
    display: block;
  }

  #check:not(checked) ~ .checkbtn i:first-child {
    display: block;
  }

  #check:not(checked) ~ .checkbtn i:nth-child(2) {
    display: none;
  }

  .menu_horizontal {
    position: fixed;
    width: 100%;
    background: var(--cor_secundaria);
    left: -100%;
    transition: all 0.5s;
    top: 60px;
    text-align: center;
    border-bottom: 2px solid var(--cor_primaria);
  }

  .menu_horizontal li {
    display: block;
    margin-top: 25px;
  }

  .menu_horizontal li a {
    color: white;
    font-size: 20px;
    background: none;
  }

  .menu_horizontal #barra_pesquisa,
  .menu_horizontal #btn_barraPesquisa {
    display: none;
  }
  .menu_horizontal li a:hover,
  .menu_horizontal li a:active {
    background: none;
    color: var(--cor_active);
  }

  /** Conteudo principal da pagina */
  /* Carrossel */
  #carrossel {
    margin-top: 60px;
  }

  #carrossel p {
    font-size: 0.9em;
  }

  .video_carrossel {
    width: 100%;
    margin-bottom: 50px;
  }

  #areaCard_recomendacoes {
    justify-content: center;
  }

  .card_desenvolvedora {
    margin: 10px;
    padding: 5px;
    width: 150px;
  }

  /* Área redação */
  #area_redacao {
    margin: 0 10px;
  }

  /** Rodape */
  footer {
    border-radius: 0;
  }

  footer p {
    font-size: 0.65em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /** Menu de navegacao */
  .menu_horizontal li {
    font-size: 0.7em;
    margin-right: 1px;
  }

  #barra_pesquisa {
    width: 0px;
  }

  /* Carrossel */
  #carrossel p {
    font-size: 0.9em;
  }

  .video_carrossel {
    width: 100%;
  }
  /** Conteudo principal da pagina */
  .area_pesquisa {
    padding: 10px;
  }

  .area_pesquisa input {
    width: 400px;
  }

  /* Área redação */
  #area_redacao {
    margin: 0 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  /*! Media especifica para tablets na posicao de retrato */
  /** Menu de navegacao */
  .area_pesquisa input {
    width: 600px;
  }

  /** Conteudo principal da pagina */
  #areaCard_plataformas {
    justify-content: center;
  }

  /* Área redação */
  #area_redacao {
    margin: 0 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  /** Menu de navegacao */
  .menu_horizontal li {
    font-size: 0.8em;
    margin-right: 5px;
  }

  #barra_pesquisa {
    width: 100px;
  }

  /* Carrossel */
  #carrossel p {
    font-size: 0.9em;
  }

  .video_carrossel {
    width: 100%;
  }

  /** Conteudo principal da pagina */
  #areaCard_plataformas {
    justify-content: center;
  }

  /* Área redação */
  #area_redacao {
    margin: 0 10px;
  }
}
